In [14]:
import pandas as pd
import numpy as np

In [35]:
adoption = pd.read_csv("./adoptions.csv")
doggos = pd.read_csv("./doginfo.csv")
people = pd.read_csv("./personinfo.csv")
currentd = pd.read_csv("./currentdogs.csv") #dogs on waiting list
currentp = pd.read_csv("./currentpeople.csv") #people on waiting list

In [8]:
doggos.head()

,id,size,vocal,walktime,shed,strength,drool,affection,intelligence,social,age,percentgooddog
0,1,77.0,23.0,25.0,25.0,47.0,1.9,74.0,42.0,43.0,14.0,150
1,2,66.0,17.0,35.0,18.0,53.0,1.1,81.0,65.0,93.0,10.0,150
2,3,32.0,14.0,75.0,59.0,70.0,1.1,61.0,76.0,76.0,3.0,150
3,4,14.0,85.0,15.0,61.0,14.0,0.4,17.0,20.0,9.0,NaN,150
4,5,91.0,44.0,80.0,84.0,80.0,4.1,NaN,53.0,52.0,8.0,150

In [9]:
doggos.describe()

,id,size,vocal,walktime,shed,strength,drool,affection,intelligence,social,age,percentgooddog
count,1000.000000,990.000000,970.000000,991.000000,971.000000,982.000000,990.000000,949.000000,991.000000,976.000000,979.000000,1000.0
mean,500.500000,66.837374,43.240206,54.687185,42.901133,61.289206,1.944040,63.406744,49.648840,59.945697,10.016343,150.0
std,288.819436,62.805772,58.064402,80.144144,27.088753,48.599655,1.249954,21.968212,18.087101,20.918355,3.334418,0.0
min,1.000000,13.000000,3.000000,15.000000,3.000000,12.000000,0.300000,10.000000,5.000000,9.000000,0.000000,150.0
25%,250.750000,43.000000,19.000000,20.000000,16.000000,46.000000,1.000000,53.000000,40.000000,47.000000,7.000000,150.0
50%,500.500000,62.000000,33.000000,40.000000,45.000000,55.000000,1.600000,68.000000,50.000000,58.000000,10.000000,150.0
75%,750.250000,79.000000,56.000000,65.000000,68.000000,75.000000,2.800000,79.000000,58.000000,79.000000,13.000000,150.0
max,1000.000000,1080.000000,996.000000,900.000000,97.000000,648.000000,5.300000,161.000000,92.000000,96.000000,17.000000,150.0

In [23]:
doggos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
id                1000 non-null int64
size              990 non-null float64
vocal             970 non-null float64
walktime          991 non-null float64
shed              971 non-null float64
strength          982 non-null float64
drool             990 non-null float64
affection         949 non-null float64
intelligence      991 non-null float64
social            976 non-null float64
age               979 non-null float64
percentgooddog    1000 non-null int64
dtypes: float64(10), int64(2)
memory usage: 93.8 KB

In [36]:
doggos.drop(columns=["percentgooddog"], inplace = True)

In [48]:
#replacing outliers with mean values 
doggos["size"] = np.where((doggos["size"] > 120), np.nan, doggos["size"])
doggos["size"].fillna(doggos["size"].mean(), inplace=True)

doggos["vocal"] = np.where((doggos["vocal"] > 100), np.nan, doggos["vocal"])
doggos["vocal"].fillna(doggos["vocal"].mean(), inplace=True)

doggos["walktime"] = np.where((doggos["walktime"] > 120), np.nan, doggos["walktime"])
doggos["walktime"].fillna(doggos["walktime"].mean(), inplace=True)

doggos["strength"] = np.where((doggos["strength"] > 100), np.nan, doggos["strength"])
doggos["strength"].fillna(doggos["strength"].mean(), inplace=True)

doggos["affection"] = np.where((doggos["affection"] > 100), np.nan, doggos["affection"])
doggos["affection"].fillna(doggos["affection"].mean(), inplace=True)

In [85]:
#replaces remaining NaN values with average in column 
doggos = doggos.apply(lambda x: x.fillna(x.mean()))

In [103]:
#people infos
people.describe()

,id,age,npeople,activity,bedrooms,gardensize
count,1000.000000,1000.000000,1000.000000,970.000000,972.000000,972.000000
mean,549.560000,48.873431,2.316000,149.613402,3.066872,12.705761
std,318.272572,18.013611,0.964922,792.101052,1.194156,4.920150
min,1.000000,20.000000,1.000000,25.000000,1.000000,4.500000
25%,271.750000,33.000000,2.000000,50.000000,2.000000,9.000000
50%,552.500000,46.000000,2.000000,65.000000,3.000000,11.000000
75%,824.250000,66.000000,3.000000,85.000000,4.000000,14.500000
max,1100.000000,85.000000,5.000000,11000.000000,7.000000,31.000000

In [105]:
#replacing outliers with mean value
people["age"] = np.where((people["age"] > 85), np.nan, people["age"])
people["age"].fillna(people["age"].mean(), inplace=True)

people["npeople"] = np.where((people["npeople"] > 6), np.nan, people["npeople"])
people["npeople"].fillna(people["npeople"].median(), inplace=True)

people["activity"] = np.where((people["activity"] > 2000), np.nan, people["activity"])
people["activity"].fillna(people["activity"].mean(), inplace=True)

In [119]:
people = pd.get_dummies(people, columns=["work"])

KeyError: "None of [Index(['work'], dtype='object')] are in the [columns]"

In [120]:
#replaces remaining NaN values with average in column 
people = people.apply(lambda x: x.fillna(x.mean()))

In [122]:
people.describe()

,id,age,npeople,activity,bedrooms,gardensize,work_full time,work_part time,work_unemployed/retired
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,549.560000,48.873431,2.316000,68.430657,3.066872,12.705761,0.361000,0.248000,0.380000
std,318.272572,18.013611,0.964922,21.124853,1.177302,4.850709,0.480531,0.432068,0.485629
min,1.000000,20.000000,1.000000,25.000000,1.000000,4.500000,0.000000,0.000000,0.000000
25%,271.750000,33.000000,2.000000,50.000000,2.000000,9.000000,0.000000,0.000000,0.000000
50%,552.500000,46.000000,2.000000,65.000000,3.000000,11.250000,0.000000,0.000000,0.000000
75%,824.250000,66.000000,3.000000,85.000000,4.000000,14.500000,1.000000,0.000000,1.000000
max,1100.000000,85.000000,5.000000,130.000000,7.000000,31.000000,1.000000,1.000000,1.000000

In [ ]:
#cluster time